.card {
  background-color: #e8f0f2;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 30px;
  padding-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20px;
  transition: all 0.3s ease-out;
}

.card:hover {
  box-shadow: 0px 1px 5px 2px rgb(202, 202, 202);
  transform: translateY(-10px);
}

.card > div > h3 {
  font-size: 1rem;

  font-weight: 700;
}

.card > div {
  text-align: center;
  width: 100%;
  margin-top: auto;
  padding-left: 10px;
  padding-right: 10px;
}

p {
  font-weight: 500;
  margin-top: 5px;
  font-size: 0.9rem;
  color: rgb(27, 156, 27);
  margin-bottom: 10px;
}

.card > img {
  height: 180px;
  width: 60%;
  object-fit: contain;
}

.quantity-container {
  display: flex;
  width: 60%;
  justify-content: center;
  margin: auto;
}

.quantity-container > button {
  background-color: white;
  border: 1px solid rgb(225, 225, 225);
  padding-left: 10px;
  padding-right: 10px;
}

.quantity-container > button:first-of-type {
  border-radius: 5px 0px 0px 5px;
}
.quantity-container > button:last-of-type {
  border-radius: 0px 5px 5px 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  width: 20%;
  border-top: 1px solid rgb(225, 225, 225);
  border-bottom: 1px solid rgb(225, 225, 225);
  border-left: 1px solid white;
  border-right: 1px solid white;
  flex: 1;
  text-align: center;
  transition: 0.2s all linear;
  outline: none;
}

input:focus {
  outline: none;
  border-color: rgb(156, 154, 154);
  border-left: 1px solid rgb(156, 154, 154);
  border-right: 1px solid rgb(156, 154, 154);
}

.quantity-container button {
  transition: background-color 0.2s ease-out 0.1s;
  transition: scale 0.5s linear 0.1s;
}

.quantity-container button:active {
  scale: 2;
}

.quantity-container button:hover {
  background-color: rgb(230, 231, 230);
  cursor: pointer;
}

.add-to-cart-btn {
  background-color: rgb(183, 249, 84);
  padding: 10px 20px 10px 20px;
  width: 60%;
  border: none;
  border-radius: 25px;
  margin-top: 20px;
  font-weight: 550;
  transition: all 0.2s linear;
}

.add-to-cart-btn:hover {
  cursor: pointer;
  scale: 1.05;
  box-shadow: 0 10px 20px -10px rgba(68, 69, 66, 0.5);
}

.cart-container {
  display: flex;
  width: 100%;
  padding: 30px;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e8f0f2;
}

.cart-container img {
  height: 80px;
}

.wrapper {
  display: flex;
  width: 60%;
  gap: 15px;
  align-items: center;
}

.wrapper > h3 {
  font-size: 0.8rem;
}

.wrapper + .quantity-container {
  display: flex;
  margin: 0;
  flex-direction: column;
  width: 20%;
  margin-left: auto;
  justify-content: center;
  align-items: center;
}

.wrapper + .quantity-container > p {
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
}

.edit-cart-wrapper {
  display: flex;
  width: 50%;
  gap: 0px;
}

.edit-cart-wrapper > * {
  background-color: rgb(232, 231, 231);
}

.cart-container button {
  border: none;
}

.edit-cart-wrapper > input {
  margin: 0;
  outline: none;
  border: none;
}

.edit-cart-wrapper > button:first-of-type {
  border-radius: 10px 0px 0px 10px;
}

.edit-cart-wrapper > button:last-of-type {
  border-radius: 0px 10px 10px 0px;
}

.remove-btn {
  height: fit-content;
  align-self: center;
  background-color: #e8f0f2;
}

.remove-btn:hover > svg {
  color: red;
  scale: 1.2;
  cursor: pointer;
}

.remove-btn > svg {
  color: #afafaf;
  height: 20px;
}
