.container {
  min-width: 90%;
  background-color: #e8f0f2;
  border-radius: 30px;
  height: min-content;
  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.shop {
  margin-left: auto;
  margin-right: 2vw;
}

.icon {
  background-color: white;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  border-radius: 30px;
}

.icon:hover {
  scale: 1.1;
}

.svg {
  color: black;
}

.icon:hover > .svg {
  color: red;
}

.name {
  text-align: center;
  margin-left: 2vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1.7rem;
  font-weight: bold;
  font-style: italic;
  background-color: #d8e8ec;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 20px;
}
