.loading {
  margin-top: 50vh;
  text-align: center;
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  animation: scale 1s ease-out infinite alternate;
  font-style: italic;
}

@keyframes scale {
  from {
    scale: 1;
  }
  to {
    scale: 1.5;
  }
}
